*{
padding:0;
margin:0;
text-decoration:none;
}
header{
display:flex;
background-color: green;

}
.menu{
display:flex;
align-items:center;
}
.menu ul{
display:flex;
align-items:center;
text-decoration:none;
gap: 20px;
list-style-type:none;
justify-content: flex-end;
}
.menu4{
text-align:center;
display:flex;
text-decoration:none;
gap: 18px;
list-style-type:none;
justify-content:center;
}
.logo{
width:50px;
}
h1 , h2 {
text-align:center;

}
.rodape{
background-color:green;
text-align:center;
list-style-type:none;
width:100%;
}
.redes{
gap:70px;
}
a {
color:white;
font-size: 22px;

}
.contato{
background-color: white;
border-radius: 7px solid black;
width:100%;
}
.contato1{
padding:10px;

}